html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.hero-image {
  background-image: url("https://w.wallhaven.cc/full/eo/wallhaven-eod6w8.jpg");
  height: 600px;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2500px;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-style {
  background-color: #354F52;
}

a.darkNav,
a.navbar-brand {
  color: white;
}

a.lightNav {
  color: black;
}

.dropdown-menu:active {
  --bs-dropdown-link-active-bg: #52796F;
}

.navPaw {
  margin-bottom: 7px;
}

.catTable {
  height: 627px;
  width: 1805px;
}

footer {
  background-color: #354F52;
  color: white;
  margin-top: 40px;
}

.imageStyle img {
  object-fit: scale-down;
  background: rgba(0, 0, 0, 0.795);
}

.carousel,
.imageStyle img {
  width: 650px;
  height: 400px;
}

.card img {
  object-fit: cover;
  height: 350px;
}

#frontpage {
  font-weight: normal;
}

#randomcat img {
  width: 400px;
  height: 250px;
}

.mission {
  background-color: #84A98C;
}

.text-right {
  text-align: right;
}

.aboutCatImage {
  width: 628px;
  height: 532px;
  object-fit: cover;
}

.badge {
  margin-right: 5px;
  margin-left: 5px;
}

.menu {
  color: #84A98C;
}

.homeCard {
  width: 15rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: auto;
}