html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.hero-image {
  background-image: url("https://w.wallhaven.cc/full/eo/wallhaven-eod6w8.jpg");
  /* The image used */
  height: 600px;
  background-color: #cccccc;
  /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2500px;
  /* Resize the background image to cover the entire container */
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-style {
  background-color: #354F52;
}

a.darkNav,
a.navbar-brand {
  color: white;
}

a.lightNav {
  color: black;
}

.dropdown-menu:active {
  --bs-dropdown-link-active-bg: #52796F;
}

.navPaw {
  margin-bottom: 7px;
}

.catTable {
  height: 700px;
}

footer {
  background-color: #354F52;
  color: white;
  margin-top: 40px;
}

/* .imageStyle {
  height: 300px;
} */

.imageStyle img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.carousel, .imageStyle img {
  width:600px;
  height:400px;
}

.card {
  width: 25rem;
}